{{template "base" .}}


{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Esta es la página about</h1>

                <p>This come from the template: {{index .StringMap "test"}}</p>
            </div>
        </div>
    </div>
{{end}}