{{template "base" .}}


{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Esta es la página home</h1>
                <p>Este es un párrafo en Home</p>
            </div>
        </div>
    </div>
{{end}}